.codelite
BabygnusbuinoUploader/Release/*
BabygnusbuinoUploader/Release/*.o
BabygnusbuinoUploader/Debug/*.o
BabygnusbuinoUploader/Debug/*
.d
main.cpp.o
MainFrame.cpp.o
wxcrafter.cpp.o
wxcrafter_bitmaps.cpp.o
